@model NGO.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="card">
        <article class="card-body">
            <a asp-area="" asp-controller="Account" asp-action="Register" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">Your email</label>
                    <input asp-for="Email" class="form-control" placeholder="Email" type="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Your password</label>
                    <input asp-for="Password" class="form-control" placeholder="******" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </article>
    </div> 
</div>