<div class="hero-wrap" style="background-image: url('../images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>News</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">News</h1>
            </div>
        </div>
    </div>
</div>
@model ListViewModel
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">

            @foreach (var p in Model.Articles)
            {
                <partial name="ArticleSummary" model="p" />
                @*<div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a asp-area="" asp-controller="Home" asp-action="ArticleSummary" asp-route-article_name="@p.Name" class="block-20" style="background-image: url('../images/@p.ImagesNew');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">Sept 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">@p.Name</a></h3>
                            <p>@p.Description</p>
                        </div>
                    </div>
                </div>*@

            }

        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <div page-model="@Model.PageInfo" page-action="News" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-outline-dark"
                         page-class-selected="btn-primary"
                         class="btn-group pull-right m-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>