@model Article
<div class="col-md-4 d-flex ftco-animate">
    <div class="blog-entry align-self-stretch">
        <a asp-area="" asp-controller="Home" asp-action="ArticleFullSummary" asp-route-article_name="@Model.Name" class="block-20" style="background-image: url('../images/@Model.ImagesNew');">
        </a>
        <div class="text p-4 d-block">
            <div class="meta mb-3">
                <div><a href="#">Sept 10, 2018</a></div>
                <div><a href="#">Admin</a></div>
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mt-3"><a href="#">@Model.Name</a></h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
