@model Article
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h1 class="mb-3">@Model.Name</h1>
                <p>@Model.Description</p>
                <p>
                    <img src="../images/@Model.ImagesNew" alt="" class="img-fluid">
                </p>
                <p>
                    Women have been fighting for dignity for centuries now and this fight is far from over. This fight cuts across boundaries, age groups, cultures and societal status. Spare a moment and think about the plight of homeless women. The insecurity, stigma, illness, humiliation, health issues, physical abuse etc. the struggle is endless.

                    We at Sunflower Foundation have witnessed these struggles homeless women go through with close quarters. While efforts are being taken to provide safe shelters to this section, we cannot shy away from our responsibilities. There is a need to treat planet Earth as our home and all humans sharing this space as our own.
                </p>
                <h3 class="mb-3 mt-5">Let's do it</h3>
                <p>Let us strive to improve the lives of homeless women by creating a safe and secure environment for them. We advocate for a dignified life for every women, every child and every family. We are making Hygiene and Dignity Kits for Women.</p>

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="#" class="p-5 bg-light">
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                        </div>

                    </form>
                </div>
            </div>


            @*<div class="col-md-4 sidebar ftco-animate">

                <div class="sidebar-box">
                    <h3>Recent Blog</h3>
                    @foreach (Article p in Model.Articles)
                    {
                        <partial name="ArticleSummary" model="p" />
                    }
                </div>*@
                @*<div class="sidebar-box ftco-animate">
                <h3>Tag Cloud</h3>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">dish</a>
                    <a href="#" class="tag-cloud-link">menu</a>
                    <a href="#" class="tag-cloud-link">food</a>
                    <a href="#" class="tag-cloud-link">sweet</a>
                    <a href="#" class="tag-cloud-link">tasty</a>
                    <a href="#" class="tag-cloud-link">delicious</a>
                    <a href="#" class="tag-cloud-link">desserts</a>
                    <a href="#" class="tag-cloud-link">drinks</a>
                </div>
            </div>

            <div class="sidebar-box ftco-animate">
                <h3>Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>*@
            </div>
        </div>
</section> <!-- .section -->