@model Gallery
    <a href="@Model.ImageGallery" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(@Model.ImageGallery);">
        <div class="icon d-flex justify-content-center align-items-center">
            <span class="icon-search"></span>
        </div>
    </a>
