@model Ngo
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h1 class="mb-3">@Model.Name</h1>
                <p>@Model.Description</p>
                <p>
                    <img src="../images/@Model.ImageNgo" alt="" class="img-fluid">
                </p>
                <p>
                    We invite you to be part of the Mudita Family. Your donation means the world to us, no matter how big and small and donating below is fast and secure. Support us and feel the Mudita within!
                    Our projects are mapped out based on which area of the school may require refurbishment or development. Once a project is complete, we enjoy walking our audience through each stage of development on our social media platforms and website.
                </p>
                <h3 class="mb-3 mt-5">Join with us</h3>
                <p>We have a large team here at Mudita Foundation, mainly Burmese people to support our local community. Further support from our international team includes marketing, design, content creation and media from volunteers all over the world who spend their time and effort to support our organisation, and we are forever grateful.</p>

            </div>
        </div>
    </div>
</section> <!-- .section -->