@model Programme
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h1 class="mb-3">@Model.Name</h1>
                <p>@Model.Description</p>
                <p>
                    <img src="../images/@Model.ImagesProgram" alt="" class="img-fluid">
                </p>
                @*<p>How does it feel not having a roof over the head? It is hard for us to even imagine, but think about those for whom living on the streets is a reality. We know their life is stressful and full of challenges. We cannot solve the problem of homelessness overnight but we can definitely support early education for the homeless children in our society. Education is a continuous and life changing process and we at Sunflower Foundation feel that no children should be deprived of their right to education. We need your support in providing Educational Kit for Children in need.</p>
                <h3 class="mb-3 mt-5">Educational kit will support for children in study</h3>
                <p>We do get a lot of support for children around children’s day. We feel every day is a children’s day. It’s time we who are educated, engage with homeless children and support their education. It is our responsibility to ensure a bright and promising future for our next generation. Let’s join hands for a brighter future.</p>*@
     
                <p>@Model.Content</p>
                <div class="text p-3 p-md-4">
                    <p><a style="background-color: orange" class="btn btn-white px-3 py-2 mt-2" asp-controller="Donates" asp-action="Create">Donate Now</a></p>
                </div>

                </div>
            </div>
        </div>
</section> <!-- .section -->